<!DOCTYPE html>
<html >
    <head>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="jquery.3.5.1.min.js"></script>
        <script type="text/javascript" src="jquery.imagemapster.min.js"></script>
    </head>
    <body>
        <img id= "image" src="image.jpg" usemap="#image_map"/>
        <map name="image_map"  id="imap">
            <% areas.forEach(function(area) { %>
                <area shape="rect" title=<%= area.preset %> coords=<%= area.coords %> onclick="zoneClicked(<%= area.preset %>)">
                  
      
              </area>
              <% }); %>
        </map>
        <script type="text/javascript">
            async function zoneClicked(zone) {
                console.log(1+ zone)
            }


            $( document ).ready( a => {$('#image').mapster({
                    clickNavigate: true,
                    isSelectable: false,
                    selected: true
                })})
        </script>
    </body>
</html>